body{
    background-color: #D0CEC5;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
}
  
  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF; /* Blue */
    }
}

#name{
    color: #ffffff;
    text-align: left;
    font-family: 'Boogaloo', cursive;
    font-size: 50px;
}

.navbar-collapse{
    font-size: 20px; 
}

.satu{
    font-size: 24px;
    font-family: 'Livvic', sans-serif;
}

.dua{
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
}

.tiga{
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
}

.empat{
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
}

.lima{
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 500px;
    margin-top: -70px;
}

.enam{
    float: left;
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
    margin-left: 110px;
    margin-top: -190px;
}

.tujuh{
    float: left;
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
    margin-left: 110px;
    margin-top: -70px;
}

.delapan{
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
    margin-left: 500px;
    margin-top: -200px;
    line-height: 2;
}

.sembilan{
    font-size: 24px;
    font-family: 'Livvic', sans-serif;
}

.sepuluh{
    font-size: 24px;
    font-family: 'Livvic', sans-serif;
    margin-left: 600px;
    margin-top: -410px;
}

.lingkaran{
    width: 20px;
    height: 20px;
    
    border-radius: 100%;
    
}

.year{
    font-size: 24px;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
}

.school{
    font-size: 22px;
    font-family: 'Livvic', sans-serif;
}

#s1{
    margin-left: 100px; 
    margin-top: -50px;
}

#s2{
    margin-left: 330px;
    margin-top: -137px;
}

#s3{
    margin-left: 530px;
    margin-top: 55px;
}

#s4{
    margin-left: 710px;
    margin-top: -140px;
}

#y1{
    margin-left: 148px;
    margin-top: -70px;
}

#y2{
    margin-left: 348px;
    margin-top: 50px;
}

#y3{
    margin-left: 548px;
    margin-top: -135px;
}

#y4{
    margin-left: 748px;
    margin-top: 50px;
}

#L1{
    margin-left: 200px;
    margin-top: -13px;
    background: #F8F3E6;
}

#L2{
    margin-left: 400px;
    margin-top: -20px;
    background: #E7CC8F;
}

#L3{
    margin-left: 600px;
    margin-top: -20px;
    background: #EFAA52;
}

#L4{
    margin-left: 800px;
    margin-top: -20px;
    background: #AB3E16;
}

img.kanan{
    float: right;
    margin: 30px;
    margin-top: -305px;
    border: 15px solid #D0CEC5;
    width: 400px;
    height: 400px;
}

.rounded-circle{
    float: right;
    margin: 30px;
    margin-top: -310px;
    width: 400px;
    height: 400px;
}

img.word{
    width: 75px;
    height: 75px;
}

img.cdr{
    width: 75px;
    height: 75px;
}

img.plus{
    width: 70px;
    height: 70px;
    margin-left: 500px;
    margin-top: -530px;
}

img.twit{
    width: 40px;
    height: 40px;
    margin-left: 600px;
    margin-top: -530px;
}

img.insta{
    width: 40px;
    height: 40px;
    margin-left: 660px;
    margin-top: -575px;
}

img.fb{
    width: 24px;
    height: 40px;
    margin-left: 720px;
    margin-top: -630px;
}

img.linkedin{
    width: 43px;
    height: 43px;
    margin-left: 763px;
    margin-top: -680px;
}

.byMe{
    height: 200px;
    width: 150px;
    margin-left: 22px;
}

#aturHome{
    margin-top: 100px;
}

#garisHome{
    width:70px;
    height:8px;
    background:#ffffff;
    margin-top: -20px;
}

#garis{
    width:50px;
    height:5px;
    background:#ffffff;
    margin-top: -20px;
}

#garisInt{
    width:50px;
    height:5px;
    background: #ffffff;
    margin-top: -20px;
    margin-left: 500px;
}

#garisTimeline{
    height:2px;
    background: black; 
    margin-top: 150px;
}

#byMe{
   
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
}

#home{
    background-color: #7F867B;
    color: #ffffff;
    height: 500px;
}

#about{
    background-color: #7F867B;
    color: #ffffff;
    height: 500px;
    margin-top: 50px;
}

#education{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
    height: 500px;
}

#experience{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
}

#skill-interest{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
    height: 500px;
}

#gallery{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
    height: 500px;
}

#contact{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
    height: 500px;
    margin-bottom: 50px;
}

.main-timeline{
    position: relative;
    transition: all 0.4s ease 0s;
}
.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #D0CEC5;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7F867B;
    border: 2px solid #D0CEC5;
    position: absolute;
    top: 0;
    left: 3px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.main-timeline .timeline-content{
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.main-timeline .date{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: black;
    padding: 12px 33px;
    background: #D0CEC5;
    border-radius: 30px;
    font-family: 'Livvic', sans-serif;
}
.main-timeline .title{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
    font-family: 'Livvic', sans-serif;
}
.main-timeline .description{
    font-size: 18px;
    color: white;
}
.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}
@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline-icon{
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content{
        width: 90%;
        float: right;
    }
}