{% load static %}

<!DOCTYPE html>

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body>
            <div class="container">
                <br>
                <p id="name">Feren.</p>
                {% include 'navbar.html' %}
            </div>

            <div id="about" class="container-fluid"><br>
                <p class="tiga">About me.</p>
                <div id="garis"></div>
                <br>
                <p class="empat">
                    Ferenica is a second year student<br>
                    of Universitas Indonesia majored <br>
                    in Computer Science. She was born <br>
                    in Kendari, a small capital in middle <br>
                    part of Indonesia, she is 19 years old <br>
                    and 5'5” tall. Besides that, she is <br>
                    also fueled by her passion for <br>
                    learning about graphic designs.
                </p>
                <div>
                    <img class="rounded-circle" src="{% static 'images/foto3.jpg' %}" alt="at beach">
                </div>
            </div>
        </body>
    </div>
</html>