{% load static %}

<!DOCTYPE html>

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body>
            <div class="container">
                <br>
                <p id="name">Feren.</p>
                {% include 'navbar.html' %}
            </div>

            <div id="experience" class="container-fluid"><br>
                <p class="tiga">Experience</p>
                <div id="garis"></div>
                <br>

                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-icon"></div>
                        <div class="timeline-content">
                            <span class="date">2017-2018</span>
                            <p class="title"><b>Kelompok Ilmiah Remaja <br> SMA Negeri 1 Kendari</b></p>
                            <p class="description">
                                Secretary    
                            </p>
                        </div>
                    </div>
                 
                    <div class="timeline">
                        <div class="timeline-icon"></div>
                        <div class="timeline-content right">
                            <span class="date">2018-present</span>
                            <p class="title"><b>Gabungan Putra-putri<br>Sulawesi Tenggara (Gapura UI)</b></p>
                            <p class="description">
                                Head of Public Relation, Publication and Design Division
                            </p>
                        </div>
                    </div>
                 
                    <div class="timeline">
                        <div class="timeline-icon"></div>
                        <div class="timeline-content">
                            <span class="date">2019-present</span>
                            <p class="title"><b>Forum Ukhuwah dan Kajian Islam<br>Fasilkom UI</b></p>
                            <p class="description">
                                Staff of Community Social Department
                            </p>
                        </div>
                    </div>
                 
                    <div class="timeline">
                        <div class="timeline-icon"></div>
                        <div class="timeline-content right">
                            <span class="date">2019-present</span>
                            <p class="title"><b>Dewan Perwakilan Mahasiswa<br>Fasilkom UI</b></p>
                            <p class="description">
                                Staff of Secretary Division
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </div>
</html>