{% load static %}

<!DOCTYPE html>

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body>
            <div class="container">
                <br>
                <p id="name">Feren.</p>
                {% include 'navbar.html' %}
                <br>
                <br>
            </div>

            <div id="home" class="container-fluid"><br>
                <div id="aturHome">
                    <p class="satu">Hello, I'm</p>
                    <p class="dua">Ferenica<br>Dwi Putri</p>
                </div>
                <div id="garisHome"></div>
                <br>
                <img class="kanan" src="{% static 'images/foto1.jpg' %}" alt="in front of tree">
            </div>
        </body>
    </div>

</html>