{% load static %}

<!DOCTYPE html>

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body>
            <div class="container">
                <br>
                <p id="name">Feren.</p>
                {% include 'navbar.html' %}
            </div>

            <div id="skill-interest" class="container-fluid"><br>
                <p class="tiga">Skill</p>
                <div id="garis"></div>
                <br>
                <p class="lima">Interest</p>
                <div id="garisInt"></div>
                <br>
                <br>
                <img class="word" src="{% static 'images/word.png' %}" alt="ikon mcs word">
                <br>
                <br>
                <br>
                <img class="cdr" src="{% static 'images/cdr.png' %}" alt="ikon corel">
                <p class="enam"><b>Microsoft Word</b><br>Intermediate</p>
                <p class="tujuh"><b>CorelDRAW</b><br>Intermediate</p>
                <p class="delapan">Photography<br>Graphic Design</p>
            </div>
        </body>
    </div>
</html>